
<meta name="twitter:site" content="@abaicenter" />
<meta name="fb:app_id" content="525131541515282" />

{% if page.layout == "page" %}
<meta property="og:url" content="{{ site.url | append: page.permalink }}" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@abaicenter" />
<meta name="twitter:title" content="{{ page.title }}">
<meta name="og:title" content="{{ page.title }}">

        {% if page.descrip == "" %}
        <meta property="og:description" content="{{ site.description }}" />
        <meta name="twitter:description" content="{{ site.description }}">
        {% else %}
        <meta name="twitter:description" content="{{ page.descrip }}">
        <meta name="og:description" content="{{ page.descrip }}">
        {% endif %}

        {% if page.image == "" %}
        <meta property="og:image" content="{{ site.site_image }}" />
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:image" content="{{ site.site_image }}">
        {% else %}
            {% if page.image contains "http" %}
            <meta property="og:image" content= "{{ page.image }}" />
            <meta name="twitter:image" content= "{{ page.image }}">
            <meta name="twitter:card" content="summary_large_image">
            {% else %}
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:image" content= "{{ site.url | append: page.image }}">
            <meta property="og:image" content= "{{ site.url | append: page.image }}" />
            {% endif %}
        {% endif %}

{% else %}
    <meta property="og:url" content="{{ site.url | append: post.permalink }}" />
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:image" content= "{{ post.image }}" />
    <meta name="twitter:image" content= "{{ post.image }}">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="og:title" content="{{ page.title }}">
    <meta property="og:type" content="article" />

        {% if page.descrip == "" %}
        <meta property="og:description" content="{{ site.description }}" />
        <meta name="twitter:description" content="{{ site.description }}">
        {% else %}
        <meta name="twitter:description" content="{{ page.descrip }}">
        <meta name="og:description" content="{{ page.descrip }}">
        {% endif %}
        {% if page.image == "" %}
        <meta property="og:image" content="{{ site.site_image }}" />
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:image" content="{{ site.site_image }}">
        {% else %}
            {% if page.image contains "http" %}
            <meta property="og:image" content= "{{ page.image }}" />
            <meta name="twitter:image" content= "{{ page.image }}">
            <meta name="twitter:card" content="summary_large_image">
            {% else %}
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:image" content= "{{ site.url | append: page.image }}">
            <meta property="og:image" content= "{{ site.url | append: page.image }}" />
            {% endif %}
        {% endif %}

{% endif %}


