
<meta name="twitter:site" content="@abaicenter" />

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@nytimes">
<meta name="twitter:creator" content="@SarahMaslinNir">
<meta name="twitter:title" content="Parade of Fans for Houston’s Funeral">
<meta name="twitter:description" content="NEWARK - The guest list and parade of limousines with celebrities emerging from them seemed more suited to a red carpet event in Hollywood or New York than than a gritty stretch of Sussex Avenue near the former site of the James M. Baxter Terrace public housing project here.">
<meta name="twitter:image" content="http://graphics8.nytimes.com/images/2012/02/19/us/19whitney-span/19whitney-span-articleLarge.jpg">

{% if page.layout == "page" %}
<meta property="og:url" content="{{ site.url | append: page.permalink }}" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@abaicenter" />
<meta name="twitter:title" content="{{ page.title }}">
<meta name="og:title" content="{{ page.title }}">

        {% if page.descrip == "" %}
        <meta property="og:description" content="{{ site.description }}" />
        <meta name="twitter:description" content="{{ site.description }}">
        {% else %}
        <meta name="twitter:description" content="{{ page.descrip }}">
        <meta name="og:description" content="{{ page.descrip }}">
        {% endif %}

        {% if page.image == "" %}
        <meta property="og:image" content="{{ site.site_image }}" />
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:image" content="{{ site.site_image }}">
        {% else %}
            {% if page.image contains "http" %}
            <meta property="og:image" content= "{{ page.image }}" />
            <meta name="twitter:image" content= "{{ page.image }}">
            <meta name="twitter:card" content="summary_large_image">
            {% else %}
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:image" content= "{{ site.url | append: page.image }}">
            <meta property="og:image" content= "{{ site.url | append: page.image.url }}" />
            {% endif %}
        {% endif %}

{% else %}
    <meta property="og:url" content="{{ site.url | append: post.permalink }}" />
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:image" content= "{{ post.image }}" />
    <meta name="twitter:image" content= "{{ post.image }}">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="og:title" content="{{ page.title }}">
    <meta property="og:type" content="article" />

        {% if page.descrip == "" %}
        <meta property="og:description" content="{{ site.description }}" />
        <meta name="twitter:description" content="{{ site.description }}">
        {% else %}
        <meta name="twitter:description" content="{{ page.descrip }}">
        <meta name="og:description" content="{{ page.descrip }}">
        {% endif %}
        {% if page.image == "" %}
        <meta property="og:image" content="{{ site.site_image }}" />
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:image" content="{{ site.site_image }}">
        {% else %}
            {% if page.image contains "http" %}
            <meta property="og:image" content= "{{ page.image }}" />
            <meta name="twitter:image" content= "{{ page.image }}">
            <meta name="twitter:card" content="summary_large_image">
            {% else %}
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:image" content= "{{ site.url | append: page.image.url }}">
            <meta property="og:image" content= "{{ site.url | append: page.image.url }}" />
            {% endif %}
        {% endif %}

{% endif %}


