{% if page.layout == "page" %}
<meta name="twitter:site" content="@abaicenter" />
<meta name="fb:app_id" content="525131541515282" />
<meta name="og:type" content="article" />
<meta property="og:url" content="{{ site.url | append: page.permalink }}" />
<meta property="og:title" content="{{ page.title }}">
<meta name="twitter:title" content="{{ page.title }}">

        {% if page.descrip == "" %}
        <meta property="og:description" content="{{ site.description }}" />
        <meta name="twitter:description" content="{{ site.description }}">
        {% else %}
        <meta name="twitter:description" content="{{ page.descrip }}">
        <meta property="og:description" content="{{ page.descrip }}">
        {% endif %}

        {% if page.image == "" %}
        <meta property="og:image" content="{{ site.site_image }}" />
        <meta name="twitter:image" content="{{ site.site_image }}">
        {% else %}
            {% if page.image contains "http" %}
            <meta property="og:image" content= "{{ page.image }}" />
            <meta name="twitter:image" content= "{{ page.bigtitle_img }}">
            <meta name="twitter:card" content="summary_large_image"></meta>

            {% else %}
            <meta name="twitter:image" content= "{{ site.url | append: page.image }}">
            <meta property="og:image" content= "{{ site.url | append: page.image }}" />
            <meta name="twitter:card" content="summary_large_image"></meta>
            {% endif %}
        {% endif %}
{% endif %}

{% if page.layout == "post" %}
        <meta name="twitter:site" content="@abaicenter" />
        <meta name="fb:app_id" content="525131541515282" />
        <meta name="og:type" content="article" />
        <meta property="og:url" content="{{ site.url | append: post.permalink }}" />
        <meta property="og:title" content="{{ post.title }}">
        <meta name="twitter:title" content="{{ post.title }}">

        {% if post.descrip == "" %}
        <meta property="og:description" content="{{ site.description }}" />
        <meta name="twitter:description" content="{{ site.description }}">
        {% else %}
        <meta name="twitter:description" content="{{ post.descrip }}">
        <meta property="og:description" content="{{ post.descrip }}">
        {% endif %}

        {% if post.image == "" %}
            <meta property="og:image" content="{{ site.site_image }}" />
            <meta name="twitter:image" content="{{ site.site_image }}">
            {% else %}
                {% if post.image contains "http" %}
                <meta property="og:image" content= "{{ post.image }}" />
                <meta name="twitter:image" content= "{{ post.image }}">
                <meta name="twitter:card" content="summary_large_image"></meta>
                {% else %}
                <meta name="twitter:image" content= "{{ site.url | append: post.image }}">
                <meta property="og:image" content= "{{ site.url | append: post.image }}" />
                <meta name="twitter:card" content="summary_large_image"></meta>
                {% endif %}
        {% endif %}
    {% endif %}

