
<nav id="navside-accordion" class="hs-docs-navside collapse" id="embus-nav-left">
    <div id="components" class="collapse show" data-parent="#navside-accordion">
      <span class="hs-docs-navside__title">Areas of Cooperation</span>
      <ul class="js-scroll-nav hs-docs-navside__links">
        {% for topic in site.data.pages.kzusrelations.topics %}
          <li class="hd-doc-section-nav-item">
            <a href="#{{ topic.href }}">
              {{ topic.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </nav>
