<ul class="js-scroll-nav hd-doc-section-nav">
  <!-- topics -->
  {% for topic in site.data.pages.kzusrelations.topics %}
    <li class="hd-doc-section-nav-item">
      <a href="#{{ topic.href }}">
        {{ topic.title }}
      </a>
      <!-- subtopics -->
      {% if topic.subtopics %}
        <ul>
          {% for subtopic in topic.subtopics %}
            <li>
              <a href="#{{ subtopic.href }}">
                {{ subtopic.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}

    </li>
  {% endfor %}
</ul>
