<script src="{{ '/assets/js/d3.v5.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/bubbleChart.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/tooltip.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/tabletop.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/loader.js' | prepend: site.baseurl }}"></script>
<script>
    var width = document.getElementById('bubble').getBoundingClientRect().width;

    let url = 'https://docs.google.com/spreadsheets/d/1IkK_wQhPZR_cRNTD9UkEkRg4SMzXlQzDcD8uSBMIpVo/edit#gid=0';

    load(url).then(raw_data => {

        var chart = renderBubbleChart()
                .svgHeight(window.innerHeight - 28)
                .svgWidth(width)
                .container('#bubble')
                .data(raw_data.bubble.elements)
                .debug(true)
                .run()

    })
</script>
