<link rel="stylesheet" href="{{ '/assets/css/kzcharts/bubble.css' | prepend: site.baseurl }}" />

<div class="container charttitle">
  <!-- <h4>U.S. companies doing business in Kazakhstan</h4>
    <p>U.S. companies were among the very first to do business in a newly independent Kazakhstan. The path these early American multinationals and investors first trudged has since 1991 worn well-trodden for other foreign investors, large companies, small- and medium- sized enterprises, entrepreners, and even startups. These are some of the hundreds of American companies doing business in Kazakhstan today.</p>
</div> -->

<div class="container centered">
  <p class="hover-instruction">Click on the circle to see the details.</p>
    <div id="bubble"></div>
</div>
