<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Attention U.S. residents!</strong> Consular and Visa Services for US residents are provided by the either the <strong>Embassy in Washington, D.C.</strong>, or the <strong>Consulate Generals in New York City or San Francisco</strong>. Your state of primary residence is assigned to one of these three missions. Please confirm your juristiction before you seek Consular services or make a visa fee payment.
  <a href="#" onclick="ga('send', 'event', 'Viewed 2.0 preview', 'Clicked to view 2.0 version from inside site');" class="btn btn-outline-primary">Confirm your Juristiction</a>


  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
