<section class="usa-banner">
  <div class="usa-accordion">

      <div class="usa-grid usa-banner-inner">
      <img src="{{ '/assets/images/kz/favicon.png' | prepend: site.baseurl }}" alt="KZ flag">
      <p>administrative links</p>
      <button class="usa-accordion-button usa-banner-button"
        aria-expanded="false" aria-controls="gov-banner">
        <span class="usa-banner-button-text">Read our website policies</span>
      </button>
      </div>

    <div class="btn-group dropup" id="gov-banner">
      <div class="usa-banner-guidance-ssl usa-width-three-fourths">
        <div class="usa-media_block-body">
          <ul class="usa-unstyled-list">
            <li class="usa-width-one-fourth usa-footer-primary-content">
              <a class="usa-footer-primary-link" href="javascript:void(0);">Copyright Information</a>
            </li>
            <li class="usa-width-one-fourth usa-footer-primary-content">
              <a class="usa-footer-primary-link" href="javascript:void(0);">Accessibility Statement</a>
            </li>
            <li class="usa-width-one-fourth usa-footer-primary-content">
              <a class="usa-footer-primary-link" href="javascript:void(0);">External Link Policy</a>
            </li>
            <li class="usa-width-one-fourth usa-footer-primary-content">
              <a class="usa-footer-primary-link" href="javascript:void(0);">Privacy Policy</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
