<section class="usa-banner">
  <div class="usa-accordion">
    <header class="usa-banner-header">
      <div class="usa-grid usa-banner-inner">
      <img src="{{ '/assets/images/kz/favicon.png' | prepend: site.baseurl }}" alt="KZ flag">
      <p>A secure website of the Republic of Kazakhstan</p>
      <button class="usa-accordion-button usa-banner-button"
        aria-expanded="false" aria-controls="gov-banner">
        <span class="usa-banner-button-text">Here's how you know</span>
      </button>
      </div>
    </header>
    <div class="usa-banner-content usa-grid usa-accordion-content" id="gov-banner">
      <div class="usa-banner-guidance-ssl usa-width-one-half">
        <img class="usa-banner-icon usa-media_block-img" src="{{ '/assets/images/kz/shield-alt-solid.svg' | prepend: site.baseurl }}" alt="Https">
        <div class="usa-media_block-body">
          <p>
            <strong>This is a secure site.</strong>
            <br>
            The<strong> https://</strong> affirms this site uses a secure SSL protocol. The information you may provide through this site is encrypted and transmitted securely.
          </p>
        </div>
      </div>
      
    </div>

  </div>
</section>
