<section class="usa-section embus_index" id="index-basic-section">
    <div class="usa-grid">
      <h2>Consular Affairs & Visa Services</h2>
      <p class="usa-font-lead">More and more Americans travel to Kazakhstan for business or tourism each year. Citizens of the U.S. and other countries may enter Kazakhstan <strong>visa-free for short-term business or tourism travel</strong>. This means U.S. citizens only need a valid passport to #VisitKazakhstan. <strong>All are welcome to visit Kazakhstan; We hope to see you soon!</strong></p>
      <a href="https://consular.kazakhembus.com" type="button" class="btn btn-primary btn-sm go-to-visa">
    Go to Consular & Visa site
      </a>
    </div>
  </section>
