<a class="usa-skipnav" href="#main-content">Skip to main content</a>

{% include usd/banner.html %}

<header class="usa-header usa-header-extended" role="banner">
  <div class="usa-navbar">
    <div class="usa-logo" id="extended-logo">
      <em class="usa-logo-text">
        <a href="{{ '/' | prepend: site.baseurl }}" title="Home" aria-label="Home | Abai Center">
          <img src="https://abaicenter.nyc3.cdn.digitaloceanspaces.com/abaicenterlogocir.png" class="logo">
          <!--  <span>
            <div>Abai Center</div>
          <div>Washington, D.C.</div>
          </span>-->
        </a>
      </em>
    </div>
    <button class="usa-menu-btn">Menu</button>
  </div>

  {% include usd/nav.html %}
</header>

<div class="usa-overlay"></div>
