<a class="usa-skipnav" href="#main-content">Skip to main content</a>

{% include usd/banner.html %}

<header class="usa-header usa-header-extended" role="banner">
  <div class="d-flex flex-row justify-content-start">
    <div class="usa-navbar">
      <div class="usa-logo" id="extended-logo">
          <a href="{{ '/' | prepend: site.baseurl }}" title="Home" aria-label="Home | Abai Center">
              <div class="main-text">ABAI CENTER</div>
          </a>
      </div>
    </div>
    <div class="d-flex flex-column align-items-center mt-2 mr-3">  
      <img src="https://abaicenter.nyc3.cdn.digitaloceanspaces.com/admin/gw_ci_eres_2cs_pos-1.png" height="100px" class="univ-logo" alt="..."> 
     <img src="https://abaicenter.nyc3.cdn.digitaloceanspaces.com/admin/CAPBlueLogo.png" height="70px" class="univ-logo" alt="...">
     </div>
  <button class="usa-menu-btn">Menu</button>
  <span class="d-none d-md-block quote">You are a little brick in the wall of the world.<br> Find your place in it! - Abai</span>
  </div>
  {% include usd/nav.html %}
</header>

<div class="usa-overlay"></div>
