<nav role="navigation" class="usa-nav">
  <div class="usa-nav-inner">
    <button class="usa-nav-close">
      <img src="{{ '/assets/img/close.svg' | prepend: site.baseurl }}" alt="close">
    </button>
    <ul class="usa-nav-primary usa-accordion">
      <li>
        <button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="extended-nav-section-one">
          <span>About Abai</span>
        </button>
        <ul id="extended-nav-section-one" class="usa-nav-submenu">
          <li>
            <a href="{{ '/about-abai/about-abai-kunanbaiuly' | prepend: site.baseurl }}">Abai's Biography</a>
          </li>
          <li>
            <a href="{{ '/about-abai/abai-kazakhstan-in-the-21st-century' | prepend: site.baseurl }}">Abai & Kazakhstan in the 21st Century</a>
          </li>
          <li>
            <a href="{{ '/about-abai/book-of-words' | prepend: site.baseurl }}">
            Book of Words
            </a>
          </li>
          <li>
            <a href="{{ '/about-abai/verses-poems' | prepend: site.baseurl }}">
            Verses & Poems
            </a>
          </li>
          <li>
            <a href="{{ '/about-abai/music' | prepend: site.baseurl }}">
            Music
            </a>
          </li>
      
      </li>
        </ul>
      </li>
      
      <li>
        <button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="extended-nav-section-five">
          <span>About Kazakhstan</span>
        </button>
        <ul id="extended-nav-section-five" class="usa-nav-submenu">
          <li>
            <a href="{{ '/about-kazakhstan' | prepend: site.baseurl }}">Overview</a>
          </li>
          <li>
            <a href="{{ '/about-kazakhstan/facts-about-kazakhstan' | prepend: site.baseurl }}">Facts About Kazakhstan</a>
          </li>
          <li>
            <a href="{{ '/about-kazakhstan/culture' | prepend: site.baseurl }}">Culture</a>
          </li>
          <li>
            <a href="{{ '/about-kazakhstan/government' | prepend: site.baseurl }}">Government</a>
          </li>
          <li>
            <a href="{{ '/about-kazakhstan/tourism' | prepend: site.baseurl }}">Tourism</a>
          </li>
        </ul>
      </li>
      <!--<li>
        <button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="extended-nav-section-three">
          <span>Seven Facets</span>
        </button>
        <ul id="extended-nav-section-three" class="usa-nav-submenu">
         <li>
          <a class="dropdown-item" href="{{ site.baseurl | append: '/seven-facets-of-the-great-steppe/seven-facets-elbasys-words' }}">Elbasy's Article</a></li>
          <div class="dropdown-divider"></div>
          <li>
           <a class="dropdown-item" href="{{ site.baseurl | append: '/seven-facets-of-the-great-steppe/quick-guide' }}">Quick Guide</a></li>
           <div class="dropdown-divider"></div>
          <li>
          <a class="dropdown-item" href="{{ site.baseurl | append: '/seven-facets-of-the-great-steppe/ancient-metallurgy' }}">Ancient Metallurgy</a></li>
          <li><a class="dropdown-item" href="{{ site.baseurl | append: '/seven-facets-of-the-great-steppe/animal-style' }}">Animal Style</a></li>
          <li>
          <a class="dropdown-item" href="{{ site.baseurl | append: '/seven-facets-of-the-great-steppe/apples-tulips' }}">Apples & Tulips</a></li>
          <li>
          <a class="dropdown-item" href="{{ site.baseurl | append: '/seven-facets-of-the-great-steppe/cradle-of-the-turkic-world' }}">Cradle of Turkic World</a></li>
          <li>
          <a class="dropdown-item" href="{{ site.baseurl | append: '/seven-facets-of-the-great-steppe/golden-man' }}">Golden Man</a></li>
          <li>
          <a class="dropdown-item" href="{{ site.baseurl | append: '/seven-facets-of-the-great-steppe/great-silk-road' }}">Great Silk Road</a></li>
          <li>
          <a class="dropdown-item" href="{{ site.baseurl | append: '/seven-facets-of-the-great-steppe/horse-culture' }}">Horsemanship</a></li>
          <div class="dropdown-divider"></div>
          <li>
          <a class="dropdown-item" href="{{ site.baseurl | append: '/seven-facets-of-the-great-steppe/locations-seven-facets' }}">Locations</a></li>
          </ul>
      </li>-->
      <li>
        <button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="extended-nav-section-four">
          <span>Multimedia</span>
        </button>
        <ul id="extended-nav-section-four" class="usa-nav-submenu">
          <li>
            <a href="{{ '/multimedia/virtual-gallery' | prepend: site.baseurl }}">Virtual Gallery</a>
          </li>
        <li>
          <a href="{{ '/multimedia/photo-gallery' | prepend: site.baseurl }}">Photo Gallery</a>
        </li>
        <li>
          <a href="{{ '/multimedia/video-gallery' | prepend: site.baseurl }}">Video Gallery</a>
        </li>
        <li>
          <a href="{{ '/multimedia/kazakh-cinema' | prepend: site.baseurl }}">Kazakh Cinema</a>
        </li>
        <li>
          <a href="{{ '/multimedia/mixed-media' | prepend: site.baseurl }}">Mixed Media</a>
        </li>
        </ul>
      </li>
    <li>
      <a class="usa-nav-link" usa-nav-link href="{{ '/events' | prepend: site.baseurl }}">Events</a>
    </li>
    <li>
      <button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="extended-nav-section-pubs">
        <span>Publications</span>
      </button>
      <ul id="extended-nav-section-pubs" class="usa-nav-submenu">
        <li>
          <a href="{{ '/publications' | prepend: site.baseurl }}">Publications</a>
        </li>
        <li>
          <a href="{{ '/kazakhstan-through-eyes-of-western-travelers' | prepend: site.baseurl }}">Through Western Eyes</a>
        </li>
      </ul>
    </li>
    <li>
      <a class="usa-nav-link" usa-nav-link href="{{ '/about-abai-center' | prepend: site.baseurl }}">Contact Us</a>
    </li>
      <!--<li class="usa-nav__primary-item">
    <a class="usa-nav__link" href="javascript:void(0)"><span>Contact Us</span></a>
    </li>-->
  </ul>
    <div class="usa-nav-secondary">
      <form class="usa-search usa-search-small js-search-form">
        <div role="search" id="searchbox-al">
          <label class="usa-sr-only" for="extended-search-field-small">Search small</label>
        </div>
		<div id="hits" class="inactive"></div>
      </form>
    </div>
  </div>
</nav>
