<nav role="navigation" class="usa-nav">
  <div class="usa-nav-inner">
    <button class="usa-nav-close">
      <img src="{{ '/assets/img/close.svg' | prepend: site.baseurl }}" alt="close">
    </button>
    <ul class="usa-nav-primary usa-accordion">
      <li>
        <button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="extended-nav-section-one">
          <span>About Abai</span>
        </button>
        <ul id="extended-nav-section-one" class="usa-nav-submenu">
          <li>
            <a href="{{ '/about-abai/abai-kunanbayev-bio’' | prepend: site.baseurl }}">Abai's Bio</a>
          </li>
          <li>
            <a href="{{ '/about-the-embassy/staff-directory' | prepend: site.baseurl }}">Staff Directory</a>
          </li>
          <li>
            <a href="{{ '/about-the-embassy/sherman-house' | prepend: site.baseurl }}">Sherman House</a>
          </li>
        </ul>
      </li>
      <li>
        <button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="extended-nav-section-two">
          <span>Body of Works</span>
        </button>
        <ul id="extended-nav-section-two" class="usa-nav-submenu">
          <li>
            <a href="{{ '/' | prepend: site.consular_url }}">
            Verses of the Kazakh poet
            </a>
          </li>
          <li>
            <a href="{{ '/' | prepend: site.consular_url }}">
            Book of Words
            </a>
          </li>
        </ul>
      </li>
      <li>
        <button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="extended-nav-section-five">
          <span>About Kazakhstan</span>
        </button>
        <ul id="extended-nav-section-five" class="usa-nav-submenu">
          <li>
            <a href="{{ '/about-kazakhstan' | prepend: site.baseurl }}">Overview</a>
          </li>
          <li>
            <a href="{{ '/about-kazakhstan/facts-about-kazakhstan' | prepend: site.baseurl }}">Facts About Kazakhstan</a>
          </li>
          <li>
            <a href="{{ '/about-kazakhstan/culture' | prepend: site.baseurl }}">Culture</a>
          </li>
          <li>
            <a href="{{ '/about-kazakhstan/history' | prepend: site.baseurl }}">History</a>
          </li>
        </ul>
      </li>
      <li>
        <button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="extended-nav-section-three">
          <span>Seven Facets</span>
        </button>
        <ul id="extended-nav-section-three" class="usa-nav-submenu">
         <li>
          <a class="dropdown-item" href="{{ site.baseurl | append: '/seven-facets/seven-facets-elbasys-words' }}">Elbasy's Article</a></li>
          <div class="dropdown-divider"></div>
          <li>
           <a class="dropdown-item" href="{{ site.baseurl | append: '/seven-facets/seven-facets-quick-guide' }}">Quick Guide</a></li>
           <div class="dropdown-divider"></div>
          <li>
          <a class="dropdown-item" href="{{ site.baseurl | append: '/ancient-metallurgy' }}">Ancient Metallurgy</a></li>
          <li><a class="dropdown-item" href="{{ site.baseurl | append: '/animal-style' }}">Animal Style</a></li>
          <li>
          <a class="dropdown-item" href="{{ site.baseurl | append: '/apples-tulips' }}">Apples & Tulips</a></li>
          <li>
          <a class="dropdown-item" href="{{ site.baseurl | append: '/cradle-turkic-world' }}">Cradle of Turkic World</a></li>
          <li>
          <a class="dropdown-item" href="{{ site.baseurl | append: '/golden-man' }}">Golden Man</a></li>
          <li>
          <a class="dropdown-item" href="{{ site.baseurl | append: '/great-silk-road' }}">Great Silk Road</a></li>
          <li>
          <a class="dropdown-item" href="{{ site.baseurl | append: '/horsemanship' }}">Horsemanship</a></li>
          <div class="dropdown-divider"></div>
          <li>
          <a class="dropdown-item" href="{{ site.baseurl | append: '/seven-facets/locations-seven-facets' }}">Locations</a></li>
          </ul>
      </li>

      <li>
        <button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="extended-nav-section-four">
          <span>Virtual Exhibition</span>
        </button>
        <ul id="extended-nav-section-four" class="usa-nav-submenu">
          <li>
            <a href="{{ '/foreign-policy' | prepend: site.baseurl }}">Kazakh Yurt Tour</a>
          </li>
          <li>
            <a href="{{ '/domestic-policy' | prepend: site.baseurl }}">Mausoleum of Khoja Ahmed Yasawi</a>
          </li>
        </ul>
      </li>
      <li class="usa-nav__primary-item">
    <a class="usa-nav__link" href="javascript:void(0)"><span>Contact Us</span></a>
    </li></ul>
    <div class="usa-nav-secondary">
      <form class="usa-search usa-search-small js-search-form">
        <div role="search" id="searchbox-al">
          <label class="usa-sr-only" for="extended-search-field-small">Search small</label>
        </div>
		<div id="hits" class="inactive"></div>
      </form>
    </div>
  </div>
</nav>
