<section class="usa-section embus_index" id="index-basic-section">
  <div class="container">
  <div class="ml-5 pl-5">
  <h3 class="text-primary">«Отандастар қоры» және Дүниежүзі қазақтар қауымдастығының байланыс орталығы</h3>
  </div>
<div class="row">

        <div class="col-sm-12 col-md-6">
          <span class="ml-5 pl-5">
            <!--<img src="/assets/images/kz/qory.png" alt=""/>-->
            <h3>Құрметті отандастар!</h3>
            <p> <strong>Дүниежүзі қазақтар қауымдастығының байланыс орталығы</strong>
              Бірігей байланыс-орталығы техникалық іскеқосылып, қызмет көрсетуде. Байланыс-орталығына Сізді қызықтыратын кез келген сұрақтар бойынша мына байланыс түрлерімен хабарласуға болады:
            </p>
          </span>
        </div>
        <div class="col-sm-12 col-md-6">
          <p class="qory">
            <strong>1404</strong> (барлық қазақстандық мобилді операторлар үшін тегін);<br />
            <a href="tel:8 800 080 1404">8 800 080 1404</a>(барлық қалалық қоңыраулар үшін); <br />
            <a href="tel:8 701 000 1404">8 701 000 1404</a>(WhatsApp, Telegram хабарламалары үшін).<br />
            <a href="tel:7 7172 981 404">7 (7172) 981 404 </a>(барлық қазақстандық қалалық қоңыраулар үшін тегін, халықаралық қоңыраулар үшін шетелдік операторлар белгілеген ставкамен)<br />
          </p>
    <p>E-mail: komek@oq.gov.kz
    Skype:komek@oq.gov.kz
    Байланыс орталығының жұмыс кестесі:
    Жұмыс сағаттары дүйсенбіден жұмаға дейін - 9.00-18.00
    </p>
        </div>
      </div>
    </div>
   
  </section>
