<style>
 
.pillz-nav-link {
  font-size: 20px;
  color: #000;
  text-decoration: underline;
  text-decoration-color: rgba(72, 219, 251,0.2);
  text-transform: capitalize; 
}

.ul-nav-pillz {
  border-bottom: solid 5px #48dbfb !important;
  background-color: rgba(255, 255, 255,1.0);
}

a.pillz-nav-link.nav-link.active.show, .pillz-nav-link:hover {
  background-color: rgba(72, 219, 251,0.5) !important;
}

.pillz-tab-pane {
  border-bottom: solid 5px rgba(72, 219, 251,0.2);
}

i {
    display: block;
}

.next-event-badge {
 font-size: 12px;
}
</style>

{% assign tab_pages = site.data.events.contents %}

{% assign counter_pill_tab = 0 %}

{% if tab_pages.size > 0 %}
<ul class="usa-accordion-bordered tabscollapse ul-nav-pillz">
    {% for item in tab_pages %}
    {% if item.jumbo-event == true %}
    <li class="pillz-nav-item">
        <button class="usa-accordion-button {% if counter_pill_tab == 0 %}active{% endif %} pillz-nav-link"
            aria-expanded="false" aria-controls="c-a{{ counter_pill_tab }}">  
       <i class="fas fa-film fa-lg mx-3 align-bottom"></i><span class="align-bottom">Film Sceening: {{ item.title }}</span>, 
        <span class="text-small align-bottom">{{ item.event-date }}</span><span class="badge badge-success align-top mx-1 next-event-badge">Next Event</span>
        </button>
        <div id="c-a{{ counter_pill_tab }}" class="usa-accordion-content">
        <div class="row">
            <div class="flex-column justify-content-start mr-3">
                <div>{{ item.event-date }}</div>
                <div>{{ item.event-time }}</div>
            </div>
            <div class="flex-column justify-content-end ml-4">
                <div>{{ item.event-location }}</div>
                <div>{{ item.event-address }}</div>
            </div>
        </div>
        <div class="row">
        <div class="col-9">
         {{ item.body | markdownify }}
    <div class="row">
        <button type="button" class="btn btn-sm btn-outline-secondary mx-0">Share</button>
        <button type="button" class="btn btn-sm btn-outline-secondary mx-0">RSVP</button>
    </div>
        </div>
        <div class="col-3">
            <img class="img-thumbnail float-right event-list-thumb my-3"
                data-src="{% if item.src %} {{ item.src }} {% else %} https://abaicenter.nyc3.cdn.digitaloceanspaces.com/AbaiBlue.png {% endif %}"
                alt="event thumbnail"
                src="{% if item.src %} {{ item.src }} {% else %} https://abaicenter.nyc3.cdn.digitaloceanspaces.com/AbaiBlue.png {% endif %}"
                data-holder-rendered="true" />
        </div>
        </div>
        
        </div>
    </li>
    {% assign counter_pill_tab = counter_pill_tab | plus: 1 %}
    {% endif %}
    {% endfor %}
</ul>
{% endif %}
