{% assign tab_pages = site.data.events.contents %}

{% assign counter_pill_tab = 0 %}

{% if tab_pages.size > 0 %}
<ul class="usa-accordion-bordered tabscollapse ul-nav-pillz mt-1">
    {% for item in tab_pages %}
    {% if item.jumbo-event == true %}
    <li class="pillz-nav-item">
        <button class="usa-accordion-button {% if counter_pill_tab == 0 %}active{% endif %} pillz-nav-link"
            aria-expanded="false" aria-controls="c-a{{ counter_pill_tab }}">  
            {{ item.title }}
        </button>
        <div id="c-a{{ counter_pill_tab }}" class="usa-accordion-content">
        <div class="row">
            <div class="flex-column justify-content-start mr-3">
                <div>{{ item.event-date }}</div>
                <div>{{ item.event-time }}</div>
            </div>
            <div class="flex-column justify-content-end ml-4">
                <div>{{ item.event-location }}</div>
                <div>{{ item.event-address }}</div>
            </div>
        </div>
        <div class="row">
        <div class="col-9">
         {{ item.body | markdownify }}
        </div>
        <div class="col-3">
            <img class="img-thumbnail float-right event-list-thumb my-3"
                data-src="{% if item.src %} {{ item.src }} {% else %} https://abaicenter.nyc3.cdn.digitaloceanspaces.com/AbaiBlue.png {% endif %}"
                alt="event thumbnail"
                src="{% if item.src %} {{ item.src }} {% else %} https://abaicenter.nyc3.cdn.digitaloceanspaces.com/AbaiBlue.png {% endif %}"
                data-holder-rendered="true" />
        </div>
        </div>
        </div>
    </li>
    {% assign counter_pill_tab = counter_pill_tab | plus: 1 %}
    {% endif %}
    {% endfor %}
</ul>
{% endif %}