<script src="/assets/js/discover.js"></script>

<div id="disc" class="container">
    <div class="row">

        <div id="disc-lhs" class="col-5">

            <div id="disc-search">
                <input type="text" placeholder="Search" aria-placeholder="Search"></input>
                <span id="disc-search-btn"><i class="fas fa-search"></i></span>
            </div>

            <div id="disc-results">
                <div class="disc-result is-first" data-result-id="0" data-featured-result="false">
                    <div class="disc-result-text">
                        "Henceforth, pen and paper shall be my only solace, and I shall set down my thoughts."
                    </div>
                    <div class="disc-result-source text-muted text-align-right">
                        Book of Words, Word One
                    </div>
                </div>
                <div class="disc-result" data-result-id="1" data-featured-result="false">
                    <div class="disc-result-text">
                        "You are a little brick in the wall of the world! Find your place in it!"
                    </div>
                    <div class="disc-result-source text-muted text-align-right">
                        it'd be super cool to find a source for this
                    </div>
                </div>
                <div class="disc-result" data-result-id="2" data-featured-result="false">
                    <div class="disc-result-text">
                        "I have yet to see a person who, having acquired wealth by dishonest means, has put it to good use. Ill-gotten gains are likewise ill spent."
                    </div>
                    <div class="disc-result-source text-muted text-align-right">
                        Book of Words, Word Ten
                    </div>
                </div>
                <div class="disc-result" data-result-id="3" data-featured-result="false">
                    <div class="disc-result-text">
                        "If you value knowledge as a supreme blessing, each new truth you uncover will bring peace and satisfaction to your soul."
                    </div>
                    <div class="disc-result-source text-muted text-align-right">
                        Book of Words, Word Thirty-Two
                    </div>
                </div>
                <div class="disc-result" data-result-id="4" data-featured-result="false">
                    <div class="disc-result-text">
                        "There is no use of anger without power, love without fidelity, and a teacher without pupils."
                    </div>
                    <div class="disc-result-source text-muted text-align-right">
                        Book of Words, Word Thirty-Seven
                    </div>
                </div>
            </div>

        </div>

        <div id="disc-rhs" class="col-7">
            <div class="container">
            
                <div id="disc-imgc" class="row">
                    <canvas id="disc-img"></canvas>
                    <img id="img1" class="d-none" src="/assets/images/abai_cartoon_effect.png" alt="" data-text-rect="10, 10, 200, 60">
                </div>

                <div id="disc-tools" class="row">
                    Here's where the image control tools will be.
                </div>

                <div id="disc-share" class="row">
                    Here's where the sharing options will be.
                </div>

            </div>  
        </div>

    </div>
</div>