<script src="/assets/js/discover.js"></script>

<div id="disc" class="container">
    <div class="row">

        <div id="disc-lhs" class="col-5">

            <div id="disc-search">
                <input type="text" placeholder="Search" aria-placeholder="Search"></input>
                <span id="disc-search-btn"><i class="fas fa-search"></i></span>
            </div>

            <div id="disc-results">
                <div class="disc-result" data-result-id="0" data-featured-result="false">

                </div>
            </div>

        </div>

        <div id="disc-rhs" class="col-7">
            <div class="container">
            
                <div id="disc-imgc" class="row">
                    <canvas id="disc-img"></canvas>
                    <img id="img1" class="d-none" src="/assets/images/abai_cartoon_effect.png" alt="">
                </div>

                <div id="disc-tools" class="row">

                </div>

                <div id="disc-share" class="row">

                </div>

            </div>  
        </div>

    </div>
</div>