<link rel="stylesheet" href="{{ '/assets/css/footer/footer.css' | prepend: site.baseurl }}" />

<footer class="usa-footer usa-footer-big" role="contentinfo">
  <div class="usa-footer-primary-section bg-medium">
    <div class="usa-grid">
      <div class="usa-footer-logo usa-width-one-half">
        <div class="row">
          <div class="col">
            <div class="embus_logo_contact">
          <img class="usa-footer-logo-img embus" src="https://abaicenter.nyc3.cdn.digitaloceanspaces.com/abai_purple-bust.png" alt="Abai Center">
              <div class="social-icons">
                <a class="fab fa-facebook-square fa-2x" href="https://www.facebook.com/KazakhEmbassyDC/">
                </a>
                <a class="fab fa-twitter-square fa-2x" href="https://twitter.com/Kazakhembassy">
                </a>
                <a class="fab fa-youtube-square fa-2x" href="https://www.youtube.com/user/kazembus">
                </a>
                <a class="fab fa-instagram fa-2x" href="https://www.instagram.com/kz_in_usa/">
                </a>
              </div>
            <address>
              <div class="usa-footer-primary-content usa-footer-contact_info">
                <p>
            <a href="mailto:beskenabay@gmail.com" class="pl-3">Email the Abai Center</a>
               </p>
              </div>
            </address>
              </div>
            </div>
          </div>
        </div>
        <div class="usa-sign_up-block usa-width-one-half">
          <h3 class="usa-sign_up-header">Subscribe to our News Bulletin</h3>
          <label class="" for="email" id="">Stay informed about Abai & Kazakhstan.</label>
          <input id="email" name="email" type="email">
          <button type="submit">Subscribe</button>
        </div>
      </div>
    </div>

    <div class="footer-section-bottom">
      <div class="usa-grid bottom_footer">
        <p class="bottom_footer">In an effort to contribute to a more user-friendly web, this website adheres to best-practices of accessibility, security and design. Please review these <a href="{{ '/website-terms/terms-of-use' | prepend: site.baseurl }}">terms of use</a> and <a href="{{ '/website-terms/design-acknowledgments' | prepend: site.baseurl }}">design acknowledgments</a>.</p>
      </div>
    </div>


</footer>
