<footer class="footer site" role="contentinfo">
      <div class="usa-grid usa-footer-return-to-top">
        <a href="javascript:void(0);">Return to top</a>
      </div>


<div class="footer-menu clearfix">
      <li>
        <button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="extended-nav-section-one">
          <span>Government Websites</span>
        </button>
        <ul id="extended-nav-section-one" class="usa-nav-submenu">
            <li><a href="http://mfa.gov.kz/">Ministry of Foreign Affairs</a><li>
            <li><a href="http://www.akorda.kz/en">Akorda - Presidential Palace</a><li>
            <li><a href="https://primeminister.kz/en">Office of Prime Minister</a><li>
        </ul>
      </li>
      <li>
        <button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="extended-nav-section-two">
          <span>Digital & Cultural Diplomacy</span>
        </button>
        <ul id="extended-nav-section-two" class="usa-nav-submenu">
          <li><a href="http://mfa.gov.kz/en/content/vestnik-diplomatii">The Diplomatic Herald</a></li>
          <li><a href="https://www.astanacalling.com/">AstanaCalling</a></li>
          <li><a href="https://kz.usembassy.gov/">U.S. Embassy & Consulate in Kazakhstan</a></li>
        </ul>
      </li>
      <li>
        <button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="extended-nav-section-three">
          <span>Info for Students & Schools</span>
        </button>
        <ul id="extended-nav-section-three" class="usa-nav-submenu">
          <li><a href="">e-history.kz</a></li>
          <li><a href="">Key Facts</a></li>
          <li><a href="">U.S. Embassy Classroom Partnership Program</a></li>
        </ul>
      </li>
      <li>
        <button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="extended-nav-section-four">
          <span>VisitKazakhstan</span>
        </button>
        <ul id="extended-nav-section-four" class="usa-nav-submenu">
          <li><a href="">Visa Free Regime</a></li>
          <li><a href="">Emergency Services</a></li>
          <li><a href="">Flights to Kazakhstan</a></li>
          <li><a href="">Weather in Kazakhstan</a></li>
        </ul>
      </li>

  </div>

  <div class="usa-footer-primary-section">
    <div class="usa-grid">
      <nav class="usa-footer-nav">
        <ul class="usa-unstyled-list">
          <li class="usa-width-one-sixth usa-footer-primary-content">
            <a class="usa-footer-primary-link" href="javascript:void(0);">Copyright Information</a>
          </li>
          <li class="usa-width-one-sixth usa-footer-primary-content">
            <a class="usa-footer-primary-link" href="javascript:void(0);">Accessibility Statement</a>
          </li>
          <li class="usa-width-one-sixth usa-footer-primary-content">
            <a class="usa-footer-primary-link" href="javascript:void(0);">External Link Policy</a>
          </li>
          <li class="usa-width-one-sixth usa-footer-primary-content">
            <a class="usa-footer-primary-link" href="javascript:void(0);">Privacy Policy</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="footer-text">
  <p>
  The Press Officer, Media Affairs at the Embassy of Kazakhstan in Washington, D.C. manages this website. External links are provided to be helpful to those seeking information about Kazakhstan, and are not endorsements of any views, opinions, actions or policies.
  </p>
  </div>
</footer>
