<div class="container">
    <div class="row">
    {% for image in site.static_files %}
        {% if image.path contains page.filter-directory %}
    <div class="col-6 p-1">
        <img src="{{ image.path }}" class="img-thumbnail rounded mx-auto" data-img="{{ image.path }}">
    </div>
        {% endif %}
    {% endfor %}
    </div>
</div>

{% unless include.no-modal %}

<div id="myModal" class="modal vw-100">
    <span class="close cursor" onclick="closeModal()">&times;</span>
    <div class="modal-content">
        <img id="modalImg" src="{{ image.path }}" alt="modal image" />
    </div>
</div>

<script>
    $('.img-thumbnail').on('click', function (e) {
        openModal(e.target.dataset.img);
    })

    function openModal(img) {
        $('#modalImg').attr('src', img);
        $('#myModal').show();
    }

    function closeModal() {
        $('#myModal').hide();
    }
</script>

{% endunless %}