
<style>
    .frequent-info--col {
      margin-bottom: 0rem !important;
        }

    .frequent-info--row .frequent-info--col:nth-child(2n+2) {
      margin-right: 0;
    }

    .frequent-info--icon {
      align-items: center;
      background: DodgerBlue;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      height: 100px;
      width: 100px;
    }

  #index-qazio {
      background-color: #f2e4d4; 
  }


  </style>

  <section class="usa-section bg-accent-cool-darker usa-graphic_list featured-qazio" id="index-qazio">
    <div class="usa-grid usa-graphic_list-row frequent-info--row">
        <div class="usa-width-three-quarters usa-media_block featured-qazio--col">
          <h2>
            Featured Content
          </h2>
    <iframe src="https://www.qazaqstan.io/embeds/us-businesses-in-kazakhstan/" width="100%" height="600px" style="display: block; margin: 0 auto;" frameborder="0"></iframe>
            </div>
          </div>
  </section>
