<div class="jumbotron mx-5" style="background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url({{ page.bigtitle_img }})">  
  <h1 class="display-4 text-white">Through the Eyes of Western Travelers</h1>
  <hr class="my-4">
  <p class="text-white">The Great Steppe has long attracted the intreped and curious adventurers from the West. The Abai Center's collection of their writings -- travelogues, academic field work, diplomatic dispatches and personal journals -- document Turkic, nomadic culture and customs; and reveal all that hasn't changed and remains misunderstood.</p>
  <p class="lead text-white">
    <a class="btn btn-primary btn-lg text-center text-white" href="/kazakhstan-through-eyes-of-western-travelers"
      role="button">Read More</a>
  </p>
</div>

 