<style>

@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300;600;800&display=swap');

h3.westyeys, h2.westyeys {
font-family: 'MuseoModerno', cursive;
}

 .jumbotron {
   height: 400px;
   width: auto; 
 };


@media (max-width: 767.98px) { 

.box: {
  align-items: flex-end;
}

p.ptext-body: {
  display: none !important;
} 

}

</style>

<div class="jumbotron"
  style="background-image: url({{ page.bigtitle_img }});
 background-repeat: no-repeat; background-size: cover;">
 <div class="col-sm-12 col-md-6 p-4 box">
  <div class="" style="border: solid 3px #ffa801; background-color: #17a2b8;">
  <h2 class="text-white m-0 westyeys">Kazakhstan &
    Central Asia</h2>
  <h3 class="m-0 text-center text-white westyeys" style="font-weight: bolder; background-color: #192a56;">Through the
    Eyes of
    Western Travelers</h3>
  <div class="d-sm-none d-md-block">
    <p class="text-white px-4 ptext-body d-sm-none d-md-block">The Great Steppe has long attracted the intreped and curious
      adventurers from the West. The Abai Center's collection of their writings -- travelogues, academic field work,
      diplomatic dispatches and personal journals -- document Turkic, nomadic culture and customs; and reveal all that
      hasn't changed and remains misunderstood.
    </p>
  </div>
  <p class="align-center text-center">
    <a class="btn btn-primary btn-lg text-center align-center text-white mx-auto"
      href="/kazakhstan-through-eyes-of-western-travelers" role="button">Read More</a>
  </p>    
</div>
</div>
 </div>
 