<style>

@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300;600;800&display=swap');

h3.westyeys, h2.westyeys {
font-family: 'MuseoModerno', cursive;
}

 .west-eyes-container {
   height: 400px;
   width: auto; 
 };
 

@media (min-width: 767.98px) { 
 
 .west-eyes-container {
   height: 200px;
   width: auto; 
 }

.west-eyes-p {
  display: none;
}

}

</style>

<div class="container-fluid west-eyes-container"
  style="background-image: url({{ page.bigtitle_img }});
 background-repeat: no-repeat; background-size: cover;">
 <div class="col-sm-12 col-md-6 p-4"> 
<div class="card w-sm-100 w-md-50 west-eyes-div" style="border: solid 3px #ffa801; background-color: #17a2b8;">
  <div class="card-body">
  <h2 class="text-white m-0 westyeys">Kazakhstan & Central Asia</h2>
  <h3 class="m-0 text-center text-white westyeys" style="font-weight: bolder; background-color: #192a56;">Through the Eyes
    of Western Travelers</h3>
    <p class="card-text mb-5 west-eyes-p"><strong>The Great Steppe has long attracted the intreped and curious
    adventurers from the West. The Abai Center's collection of their writings -- travelogues, academic field work,
    diplomatic dispatches and personal journals -- are among the earliest observations of Turkic and nomad culture and customs to be published at large scale.</strong></p>
<p class="align-center text-center">
  <a class="btn btn-primary btn-lg text-center align-center text-white mx-auto"
    href="/kazakhstan-through-eyes-of-western-travelers" role="button">Read More</a>
</p>
  </div>
</div>
</div>
</div>