<style>
  .fancy {
    font-family: robotobold, Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: 2;
    color: #112e51;
    overflow: hidden;
  }
  .fancy span {
    display: inline-block;
    position: relative;
  }
  .fancy span:before,
  .fancy span:after {
    left: 100%;
    margin-left: 0.625rem;
    content: "";
    position: absolute;
    height: 0.6875rem;
    width: 62.5rem;
  }
  .fancy span:after {
    border-bottom: 4px solid DodgerBlue;
    top: 47%;
  }
  .fancy span:before {
    border-top: 4px solid DodgerBlue;
    top: 39%;
  }

  .media-center-feed {
    width: 100%;
  }

</style>

<section class="usa-section usa-section-light usa-graphic_list mt-0 pt-0">
  <div class="usa-grid media-center-grid">
    <h3 class="fancy">
      <span>Recent Media</span>
    </h3>
    <div class="d-flex flex-row justify-content-center align-items-center">

      <div class="media-center-feed">
        <div class="element-grid usa-width-one-whole">
          {% assign sorted = site.data.contentful.spaces.Emb.posts | where: "categories_ozen", "cultureHistory" | reverse %}
          {% for news in sorted %}
          
          <article class="element-item briefing-statement briefing-statement--results">
            <div class="briefing-statement__content">
              <div class="row align-items-center">
                <div class="col-sm-12 col-md-4 media_center text-center">
                    {% if news.image.url %}
                      <img src="{{ news.image.url }}" class="img-thumbnail news_thumbnail mx-auto" alt="Image" />
                    {% else %}
                  <img src="https://abaicenter.nyc3.cdn.digitaloceanspaces.com/abai_purple-bust.png" class="img-thumbnail news_thumbnail mx-auto" alt="Image" />
                    {% endif %}
                    </div>
                  <div class="col-sm-12 col-md-8 media_center" style="float: right;">
                    <h2 class="briefing-statement__title_allnews" style="float: right;">
                      <a class="media-link" href="{{ site.baseurl }}{{ news.source_url }}" target="_blank" title="{{ news.source_title }}" style="float: right;">
                        {{ news.title }}
                      </a>
                    </h2>
                    <div class="meta__date ml-md-5">
                    <time datetime="{{ news.date }}">
                      {{ news.date | date: "%b %d, %C%y" }}
                    </time>
                    </div>
                  </div>
                  </div>
                </div>
              </article>
         
          {% endfor %}
        </div>

          <div class="media-row">
            <hr />
            <h1 class="media-title all_news">
              <a class="usa-button usa-button-big" href="{{ '/news' | prepend: site.baseurl }}" title="All News">
                All News & Media
              </a>
            </h1>
          </div>
      </div>
      <div class="w-25 p-2">
        <div id="block-twittertimeline" class="block block-twitter-embed block-twitter-embed-timeline">
          <span>
            <a class="twitter-timeline" data-width="400" data-height="765" data-theme="light" href="https://twitter.com/KazakhEmbassy?ref_src=twsrc%5Etfw">Tweets by KazakhEmbassy</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </span>
        </div>
      </div>

    </div>
  </div>

</section>
