<link rel="stylesheet" href="{{ '/assets/css/slick-slider.css' | prepend: site.baseurl }}" />

<div class="container">
  <div>
   <h2>{{ "abai through Artists' Eyes" | upcase }}</h2> 
  <p>Abai Kunanbaiuly is one of the most inspiring figures in Kazakh art.
    Classic paintings, rare photos, and modern pop images depicting Abai
    transcend generations and social constructs. Every artist sees him
    differently, from their own soul, leading to particular
    representations and unique visuals.
  </p>
</div>
<div class="slicky-slider">
    {% for image in site.static_files %}
      {% if image.path contains page.images-artists-works %}
    <div class="col px-0">
        <img src="{{ image.path }}" class="img-thumbnail rounded mx-auto" height="200px" data-img="{{ image.path }}">
    </div>
      {% endif %}
    {% endfor %}
</div>
</div>
<!--
{% unless include.no-modal %}

<div id="OldModal" class="modal vw-100">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content">
    <img id="modalArtistsworks" src="" alt="modal image" />
  </div>
</div>

<script>
  $('.img-thumbnail').on('click', function(e) {
    openModal(e.target.dataset.img);
  })

  function openModal(img) {
    $('#modalArtistsworks').attr('src', img);
    $('#OldModal').show();
  }

  function closeModal() {
    $('#OldModal').hide();
  }
</script>

{% endunless %} -->