<link rel="stylesheet" href="{{ '/assets/css/slick-slider.css' | prepend: site.baseurl }}" />

<div class="container">

    <div class="slicky-slider">
        {% for image in site.static_files %}
        {% if image.path contains page.modernist-gallery %}
        <div class="col px-0">
            <img src="{{ image.path }}" class="img-thumbnail rounded mx-auto slick-slider-img"
                data-img="{{ image.path }}">
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

{% unless include.no-modal %}

<div id="modernistModal" class="modal" style="z-index: 10000;">
    <span class="close cursor" onclick="closeModal()">&times;</span>
    <div class="modal-content">
        <img id="modernistModal" src="" alt="modal image" />
        <figcaption id="modal-cap" class="p-2"></figcaption>
    </div>
</div>

<script>
    var captions = {
        {
            site.data.modernist-gallery | jsonify
        }
    };

    $('.img-thumbnail').on('click', function (e) {
        openModal(e.target.dataset.img);
    })

    function openModal(img) {
        $('#modernistModal').attr('src', img);
        captions.forEach(function (c) {
            if (img.includes(c.filename)) {
                $('#modal-cap').html(c.caption);
            }
        })

        $('#ModeristModal').show();
        $('html').addClass('modal-open');


    }

    function closeModal() {
        $('html').removeClass('modal-open');
        $('#modernistModal').hide();
    }
</script>

{% endunless %}