{% assign data = site.data.temp-tools-include %}

<div class="row">

<div class="col-sm-12 col-md-6 order-sm-last order-md-first">
    {% for tool in data.tools %}
    {% capture toolImage %}{% include util/url.html url=tool.image %}{% endcapture %}
    {% capture toolUrl %}{% include util/url.html url=tool.action.url %}{% endcapture %}
  <a class="card-action" href="{{ toolUrl }}" style="text-decoration: none;">
    <div class="card card--big my-5" onclick="location.href='{{ toolUrl }}';">
        {% if tool.image %}<img class="card-img-top" src="{{ toolImage }}">{% endif %}
        <div class="card-body">
            <div class="card-title temp-tool-title" style="color: #fff;">{{ tool.title }}</div>
            <p class="temp-tool-text" style="text-decoration: none;">{{ tool.body }}</p>
        </div>
    </div>
  </a>
    {% endfor %}
</div>

<div class="col-sm-12 col-md-6 order-sm-first order-md-last">
<iframe src="https://www.qazaqstan.io/embeds/abai-slides/" width="100%" height="763px" style="display: block; margin: 0 auto;" frameborder="0"></iframe>
</div>
</div>
