{% for topic in site.data.contentful.spaces.Emb.topic %}
  {% if topic.title == page.title %}

    <div class="usa-font-lead text-image">
      {% if topic.topic_image %}
        <img class="w-100 mb-3" src="{{ topic.topic_image.url }}" />
      {% endif %}

      {{ topic.body | markdownify }}
    
    </div>

    {% for subtopic in topic.subtopics %}
      <div class="row">
        <div class="col-12">
          <a name="{{ subtopic.title | slugify }}"></a>
          <h2 class="title">
            {{ subtopic.title }}
          </h2>
          <p class="rich-text">
            {{ subtopic.body | markdownify | truncate: 190 }}
            {% assign _subtopic_href = subtopic.title | slugify %}
            <a data-page="includes/topic" href="{{ page.url }}/{{ _subtopic_href }}">
              Read more
            </a>
          </p>
        </div>
      </div>
    {% endfor %}
  {% endif %}
{% endfor %}
