<div class="alert alert-danger event_alert alert-dismissible fade show index" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <p class="event_alert pl-5 pb-2">Сообщаем, что властями штата Флорида объявлен режим чрезвычайного положения в связи с приближением урагана четвертой <strong>категории "Дориан"</strong>. <a href="https://kazakhembus.com/2019-8-29-hurricane-dorian">Прочитайте больше</a>.
  </p>
</div>
