
<div class="alert alert-warning alert-dismissible june9">
  <button type="button" class="close" data-dismiss="alert">&times;</button>

  <p class="june9_accredit">Kazakhstan's June 9 Presidential Election is historic for many reasons. <a href="/domestic-policy/democracy/2019-presidential-election">Read More</a></p>
    <hr />
  <p class="june9">2019 жылғы 9 маусымда өтетін Қазақстан Республикасы Президентінің кезектен тыс сайлауы жөнінде xабарлама. <a href="/announcement_kz_citizens_june_9_presidential_elections">Read More</a></p>
    <hr />
  <p class="june9_accredit">Accreditation of Foreign Journalists ahead of Presidential Election in Kazakhstan on June 9, 2019. <a href="http://mfa.gov.kz/en/content-view/akkreditacia-inostrannyh-zurnalistov-na-predstoasie-prezidentskie-vybory-v-kazahstane-9-iuna-2019-goda">Read More</a></p>
</div>
