.usa-hero .carousel-item {
  height: 500px;
}

.usa-hero .carousel-item .container {
  padding: 3rem 0;
}

.usa-hero .carousel-item {
  background-position-x: 85%;
  background-size: contain;
  background-repeat: no-repeat;
}

.active {
  display: block !important;
}

.usa-hero-callout {
  max-width: 40rem;
  padding: .5rem;
  padding-left: 10px;
  padding-right: 10px;
}

/* Responsive */
@media (max-width: 768.98px) {
  .usa-hero-callout-alt {
    font-size: 20px;

  }

  .usa-hero-callout {
    margin-top: 50px;
    max-width: 40rem;
    padding: .5rem;
    padding-left: 10px;
    padding-right: 10px;

  }

  .usa-hero-callout {
    margin-top: 50px;
    max-width: 40rem;
    padding: .5rem;
    padding-left: 10px;
    padding-right: 10px;

  }

  .carousel-item.active {
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
  }

}