#disc-img {
    width: 100%;
    height: 50%;
}

/* LHS */

#disc-search {
    position: relative;
}

#disc-search-btn {
    height: 4.4rem;
    padding: 0 1.1rem;
    color: #212121;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#disc-search-btn:hover {
    color: #5B616B;
}