#disc-img {
    width: 100%;
    height: 50%;
}

/* LHS */

#disc-search {
    position: relative;
}

#disc-search-btn {
    height: 4.4rem;
    padding: 0 1.1rem;
    color: #212121;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#disc-search-btn:hover {
    color: #5B616B;
}

#disc-results {
    color: #212121;
    border: 0.1rem solid #5B616B;
    border-radius: 0;
    overflow-y: scroll;
    height: 500px;
}

.disc-result {
    border: 0.1rem solid #00000000;
    padding: 1.5rem;
}

.disc-result:hover {
    background: #C0C0C9;
    border: 0.1rem solid #727986;
}

.disc-result-active {
    border-top: 0.1rem solid #727986; /* 25% lighter than container border */
    border-bottom: 0.1rem solid #727986;
}