.events-jumbotron {
  background-image: linear-gradient(to left, #a29bfe, transparent, 90%, #487eb0),
                    url('/assets/images/antenna-cw-cj_nFa14-unsplash.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

a.event-btn:visited {
  color: #fff!important;
  text-decoration: none!important;
} 

a.event-btn {
  color: #fff;
  text-decoration: none!important;
} 

a.event-btn:hover {
  color: #fff!important;
  text-decoration: none!important;
} 

.card-text {
  font-weight: bold;
}

.jumbotron-heading {
  text-shadow: -2px 2px 1px black;
}

table,
thead,
tr,
tbody,
th,
td {
  text-align: center;
}

.table td {
  text-align: center;
}

td.day-active {
  color: #FFFFFF;
  font-weight: bold;
  background-color: #01a3a4;
  transition: 0.3s;
}

td.day-active:hover {
  color: #212121;
  font-weight: bold;
  background-color: #e9ecef;
  cursor: pointer;
}

.event-list-thumb {
  height: 245px;
}
