
.usa-navbar {
  height: 11em !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 0;
  align-items: center;
}

.usa-logo {
  float: none;
  line-height: 4rem;
  margin-left: 0;
  align-items: center;
}

.usa-logo a {
  color: #212121;
  text-decoration: none;
  padding: 9px;
	display: flex;
  align-items: center;
  font-size: 3.5rem;
}

.usa-logo a img {
  height: 40px;
  margin-right: 6px;
}

.usa-logo a span {
  color: #192a56;
  font-size: 1.5rem;
  font-weight: 600;
  margin-right: 0.5rem;
}


.usa-logo a div {
  display: block;
  font-size: 5rem;
  margin-left: 140px;
  line-height: 22px;
  margin-top: 5%;
}

.usa-logo a div:last-child {
  color: #192a56;
}

.usa-menu-btn {
  height: auto;
  width: 6.8rem;
}

.usa-logo a div.main-text {
   display: flex;
   align-items: center;
}


span.quote {
  float: right;
  font-family: 'Cherry Swash', cursive;
  font-size: 1.5em;
  margin-right: 20px;
  padding: 30px;
}

/* Large Screens */
@media (min-width: 951px) {
  .usa-header-extended .usa-logo {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .usa-logo a img {
    height: 250px;
  }

  .usa-logo a span {
    font-size: 4rem;
  }

  .usa-logo a span:last-child {
    font-size: 3rem;
  }

  .usa-logo a div {
    line-height: initial;
  }

}

@media (max-width: 767.98px) {

  .usa-navbar {
    height: auto !important;  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 0;
    }

  .usa-logo a div {
    margin-left: 0px;
    font-size: 3.2rem;
    margin-top: 0px;
  }

}
