/* Book of Words Display CSS */

.words-chapter {
    display: none;
}

.words-chapter-current {
    display: block !important;
}

.words-text > p {
    max-width: 50ch !important;
    font-size: 2rem;
}

/*.words-text > p:first-child:first-letter {
    color: #903; 
    initial-letter: 2;
}*/

@media (max-width: 768px) {
    .words-text > p {
        font-size: 1.8rem;
    }
}

.words-control {
    display: flex;
    width: fit-content;
    padding: 4px;
    justify-content: start;
    margin: 2px 0;
    border: 1px solid #57575750;
    border-radius: 8px;
}

.wc {
    margin: 4px;
    line-height: 50px;
}

.w-page {
    width: 50px;
    text-align: center;
}

.fa:hover {
    color: #575757;
}

.fa:active {
    color: #000000;
}

.words-text > p {
    position: relative;
}
  
.tooltiptext {
    position: absolute;
    top: -50px;
    left: 0px;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 1;
}

.tooltiptext > a {
    color: #FFFFFF;
    text-decoration: none;
}

/*.tooltip:hover .tooltiptext {
    visibility: visible;
}*/