<!-- style="background-image: url({% include util/url.html url=carousel_slide.image %});" -->

{% for post in site.posts limit:1 %}

{% comment %}
  This is not a real loop. It grabs the most recent post and renders a carousel slide for it.
{% endcomment %}

<style>
  .carousel-item.active {
    background-image: linear-gradient(to right, #487eb0, #487eb0, #487eb0, #487eb0, #487eb0, #487eb0, #487eb000, #487eb000, #487eb0, #487eb0), url({{ post.carousel_img }});
  }

  @media (max-width: 768.98px) {
    .carousel-item.active {
      background-image: url({{ post.carousel_img }});
    }
  }
</style>

<div id="myCarousel" class="usa-hero carousel" data-ride="carousel">
    <div class="carousel-inner">

      <div class="carousel-item active" >

          <div class="container">
            <div class="usa-grid col-md-6 text-center mb-6">
              <div class="usa-hero-callout usa-section-dark carousel">
                <h2 locale="{{ page.locale }}">
                  <span class="usa-hero-callout-alt">{% if post.carousel_title %}{{ post.carousel_title }}{% else %}{{ post.title }}{% endif %}</span>
                </h2>

                {% if post.descrip %}
                  <p>
                    {{ post.descrip | markdownify }}
                  </p>
                {% endif %}

                <a href="{{ post.permalink | prepend: site.baseurl }}" type="button" class="btn btn-primary btn-sm">
                  {% if post.carousel_button_text %} {{ post.carousel_button_text }}{% else %}Read More{% endif %}
                </a>

              </div>
            </div>
          </div>

        </div>
    </div>
  </div>

  {% endfor %}
