<section class="usa-hero" style="background-image:url({{ sitepage.header_background_img['en-US']url }});">
  <div class="container">
    <div class="row justify-content-left">
      <div class="usa-grid col-md-6 text-center mb-6">
        <div class="usa-hero-callout usa-section-dark">
          <h2 locale="{{ page.locale }}">
            <span class="usa-hero-callout-alt">          «Отандастар қоры»</span>
          </h2>
          <h3>Құрметті отандастар!</h3>
          <h5>және Дүниежүзі қазақтар қауымдастығының байланыс орталығы</h5>
          <p>
            Бірігей байланыс-орталығы техникалық іскеқосылып, қызмет көрсетуде. Байланыс-орталығына Сізді қызықтыратын кез келген сұрақтар бойынша мына байланыс түрлерімен хабарласуға болады:
          </p>
          <p class="qory">
            <strong>1404</strong> (барлық қазақстандық мобилді операторлар үшін тегін);<br />
            <a href="tel:8 800 080 1404">8 800 080 1404</a>(барлық қалалық қоңыраулар үшін); <br />
            <a href="tel:8 701 000 1404">8 701 000 1404</a>(WhatsApp, Telegram хабарламалары үшін).<br />
            <a href="tel:7 7172 981 404">7 (7172) 981 404 </a>(барлық қазақстандық қалалық қоңыраулар үшін тегін, халықаралық қоңыраулар үшін шетелдік операторлар белгілеген ставкамен)<br />
          </p>
<p>E-mail: komek@oq.gov.kz
Skype:komek@oq.gov.kz
Байланыс орталығының жұмыс кестесі:
Жұмыс сағаттары дүйсенбіден жұмаға дейін - 9.00-18.00
</p>









          <a class="btn btn-primary" href="javascript:void(0)">Learn about what we do</a>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="alert alert-danger alert-dismissible qory">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <div class="row qory">
    <div class="col-6 qory1">
      <img src="/assets/images/kz/qory.png" class="alert-img" width="200px" height="auto"/>
    </div>
    <div class="col-6 qory2">
      <p class="qory">
        Елбасы Н.Ә.Назарбаевтың Дүниежүзі қазақтарының V Құрылтайында берген тапсырмасы аясында, «Отандастар қоры» шет мемлекеттерден келген этникалық қазақтарды бейімдеу және әлеуметтендіру процессіне жәрдем көрсету мақсатында Бірегей байланыс орталығының ашылғанын хабарлаймыз.</p>
        <hr />
      <p class="qory">
        <strong>1404</strong> (барлық қазақстандық мобилді операторлар үшін тегін);<br />
        <a href="tel:8 800 080 1404">8 800 080 1404</a>(барлық қалалық қоңыраулар үшін); <br />
        <a href="tel:8 701 000 1404">8 701 000 1404</a>(WhatsApp, Telegram хабарламалары үшін).<br />
      </p>
    </div>
  </div>
</div>
