<script>
  var captions = {{ site.data.captions-museum | jsonify }};

  $(document).ready( function() {
    $('.img-thumbnail').on('click', function (e) {
      openModal(e.target.dataset.img);
    })
  });

  function openModal(img) {
    $('#imgMoscowmuseum').attr('src', img);
    captions.forEach(function (c) {
      // console.log('checking file ' + c.filename + " against img " + img);
      if (img.includes(c.filename)) {
        // console.log('match found');
        $('#modal-cap').html(c.caption);
      }
    })

    $('#moscowModal_id').show();
    $('html').addClass('modal-open');

  }

  function closeModal() {
    $('html').removeClass('modal-open');
    $('#moscowModal_id').hide();
  }
</script>

<style>
  .modal {
    background-color: #000000A0;
  }

  .modal-content {
    box-shadow: -3px 3px 10px #000000;
    margin-top: 2em;
  }

  .close {
    top: calc(1em + 10px);
  }
</style>