<link rel="stylesheet" href="{{ '/assets/css/slick-slider.css' | prepend: site.baseurl }}" />


<div class="slicky-slider">
  {% assign dataSet = site.data.moscow-museum %}
  {% for image in dataSet %}
  <div class="col px-0">
    <img src="{{ image.filename }}" class="img-thumbnail rounded mx-auto slick-slider-img"
      data-img="{{ image.filename }}">
</div>
  {% endfor %}

{% unless include.no-modal %}

<div id="moscowModal_id" class="modal" style="z-index: 10000;">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content">
    <img id="imgMoscowmuseum" src="" alt="modal image" />
    <figcaption id="modal-cap" class="p-2"></figcaption>
  </div>
</div>

<script>
  var captions = {
    {
      site.data.captions | jsonify
    }
  };

  $('.img-thumbnail').on('click', function (e) {
    openModal(e.target.dataset.img);
  })

  function openModal(img) {
    $('#imgMoscowmuseum').attr('src', img);
    captions.forEach(function (c) {
      if (img.includes(c.filename)) {
        $('#modal-cap').html(c.caption);
      }
    })

    $('#moscowModal_id').show();
    $('html').addClass('modal-open');


  }

  function closeModal() {
    $('html').removeClass('modal-open');
    $('#moscowModal_id').hide();

  }
</script>

{% endunless %}