<div class="col-sm-12 col-md-6 col-lg-4 mb-4">
  <h3>
    Beginner Kazakh Language
  </h3>
  <div class="card shadow-sm {% if page.hide_card_details_btn %}no-hover{% else %}h-100{% endif %}">
      <img
        class="card-img-top"
        src="https://turbine-user-content.s3.us-east-2.amazonaws.com/user-content/DCqDvAYJvrhUDSrCnctYb/c584542e-c7dc-4cd3-b441-415ad62ea722.png"
        alt="Beginner Kazakh"
        height="auto"
        width="200px"
      />
      <div class="card-body">
        <p class="card-text">
          The Elementary Kazakh course offers a foundation in developing skills to be able to
          speak, listen, read and write in Kazakh in a culturally appropriate way in various social
          situations.
          <div class="block">
          <audio
          controls
          src="https://turbine-user-content.s3.us-east-2.amazonaws.com/user-content/DCqDvAYJvrhUDSrCnctYb/cfe0eaaa-24b3-4adf-b50c-461cd668fdf0.mp3">
              Your browser does not support the
              <code>audio</code> element.
          </audio>
          </div>
        </p>
        <p>
          <b>Topics:</b>
          <br />
          <span class="text-muted mt-2">
            Greetings & Introductions,
            Daily Activities & Necessities,
            Food & Hospitality,
            Time and Measurements,
            Doing Business,
            Family and Relatives,
            Conversations with native co-workers,
            Body Parts and Medical terms,
            Agriculture,
            Government, Humanitarian, Development,
            Military
          </span>
        </p>
        <p>
          <b>Schedule:</b>
          <br />
          <span class="text-muted mt-2">
            <code>Self-paced</code><br>
            <code>Weekly Instructor-led Class</code>
          <p><mark>Coming Soon</mark></p>
          </span>
        </p>
        <!--<p>
          <b>Prerequisite:</b>
          <br />
          <span class="text-muted mt-2">
            {% if page.hide_card_details_btn %}
              <a
                class="ga-click-event my-2"
                title="Web Foundations"
                href="https://app.turbinelms.com/login/abai-center?action=signup&classId=3YQzkWmkxkLBaTjOxq9KHX"
                ga-label="Web Foundations"
                ga-category="prerequisite"
              >
Enroll
              </a>
            {% else %}
            {% endif %}
          </span>
        </p>-->
        <!--<div class="d-flex justify-content-between align-items-center">
          {% if page.hide_card_details_btn %}
            <p>
              <a
              role="button"
              class="btn btn-lg btn-primary ga-click-event stretched-link text-white"
              title="Seven Facets"
              href="https://app.turbinelms.com/login/abai-center?action=signup&classId=3YQzkWmkxkLBaTjOxq9KHX"
              ga-label="Seven Facets"
              ga-category="instruction"
            >
            Enroll</a>
            <div class="">
              <span><b>This course is free.</b></span><br />
              <p>Start Right Now!</p>
            </div>
            </p>
          {% else %}
            <a
              role="button"
              class="btn btn-lg btn-primary ga-click-event my-2 stretched-link text-white"
              title="Seven Facets"
              href="/academy/beginner-kazakh-language"
              ga-label="Seven Facets"
              ga-category="instruction"
            >
            Details</a>
            <div class="text-right">
              <span><b><mark>Free</mark></b></span><br />
            </div>
          {% endif %}
        </div>-->
      </div>
    </div>
  </div>