
<div class="container bg-light" id="ceu-certificate">
    <h2>Continuing Education & Professional Development</h2>
    <div class="d-flex flex-column align-items-center">
    <div>
    <h4>Certificate of Completion</h4>
    <p>Those who complete this course will earn an Abai Center Certificate of Completion. This course certificate may satisfy professional and continuing education credit unit requirements from professional organizations and industry associations. CEUs for this course are awarded by the <a href="https://ccac.edu/workforce/workforce-continuing-education/index.php" target="_blank">Community College of Allegheny County Professional Continuing Education</a>. We suggest completion of this course with the certificate meets <b>three (3) Continuing Education Unit (CEUs)</b> and <b>one (1) Professional Development Hour (PDH)</b>.</p></div> 
    <img src="https://turbine-user-content.s3.us-east-2.amazonaws.com/user-content/DCqDvAYJvrhUDSrCnctYb/50ad4040-1834-4647-be2c-38a3fc7d4588.png" width="550px" height="auto" />
    </div>
    This course is developed to meet the C3 Framework of the <a href="https://www.socialstudies.org/standards" target="_blank">National Council for the Socail Studies National Curriculum Standards</a>.  NCSS published the National Curriculum Standards for Social Studies in 2010.
    </div>
</div>