<div class="col-sm-12 col-md-6 col-lg-4 mb-4">
    <div class="card no-hover shadow-sm h-100">
      <img class="card-img-top" src="https://turbine-user-content.s3.us-east-2.amazonaws.com/user-content/DCqDvAYJvrhUDSrCnctYb/d7a6f4b1-5332-4fb3-8924-d611ebbd2958.png" alt="Web Foundations : HTML & CSS" />
      <div class="card-body">
        <h5>
            Seven Facets of the Great Steppe
        </h5>
        <p class="card-text">
          Begin building websites and components with HTML & CSS.
        </p>
        <p>
          <b>Topics:</b>
          <br />
          <span class="text-muted mt-2">
            HTML, CSS, Git, GitHub
          </span>
        </p>
  
        <p>
          <b>Schedule:</b>
          <br />
          <span class="text-muted mt-2">
            Wednesday, <code>7-9pm</code>.
            <br />
            Weekly, online.
          </span>
        </p>
  
        <p>
          <b>Prerequisite:</b>
          <br />
          <span class="text-muted mt-2">
            n/a
          </span>
        </p>
  
        <div class="d-flex align-items-center justify-content-end">
          <small>
            Included with Membership
          </small>
        </div>
  
      </div>
    </div>
  </div>