<div id="orbit-courses" class="py-5 bg-dark">
  <div class="container">

<h3 id="web-foundations" class="text-light mb-0 mt-5">
Great Steppe Studies
</h3>
<div class="text-light mb-3 h4-subtitle">

<h3>Explore & Learn </h3>
<h5>The Great Steppe</h5>
<h4>History. Culture. Language.</h4> 
<p>
Want to learn more about the history of Kazakhstan? The Abai Center is home to several courses that touch on the history of Kazakhstan, ranging from ancient to modern times. 
</p>
<p>
Did you know the nomadic lifestyle of the ancient Kazakh people greatly influenced their culture? Learn about nomadic culture, and more about the lives of Kazakh people from the past and present, from the Abai Center. 
</p>
<p>
If you’ve ever wanted to learn how to speak a unique language, now’s your chance! The Abai Center is offering an elementary level Kazakh language class designed specifically for beginners.
</p>
</div>

<div class="row">
{% include instruction/htmlcss.html %}
{% include instruction/uitoolkits.html %}
{% include instruction/webdev.html %}
</div>

<a name="development-paths"></a>

<h3 class="text-light mb-0 mt-3">
Orbits
</h3>
<p class="text-light mb-3 h4-subtitle">
Weekly live instruction to build programming skills throuh repetition of exercises and projects.
</p>

<div class="row">
{% include instruction/htmlcss.html %}
{% include instruction/uitoolkits.html %}
{% include instruction/webdev.html %}
</div>

<h3 class="text-light mb-0 mt-3">
Intensives
</h3>
<p class="text-light mb-3 h4-subtitle">
Focused instruction covering advanced technologies, languages and frameworks to create complex applications and systems.
</p>

<div class="row">
    {% include instruction/htmlcss.html %}
    {% include instruction/uitoolkits.html %}
    {% include instruction/webdev.html %}
</div>

</div>
</div>