<div id="orbit-courses" class="py-5">
  <div class="container">
 
<div class="text-dark mb-3 h4-subtitle">

<h3>Explore The Great Steppe.</h3>

<h4>History. Culture. Language.</h4>
<p>
Want to learn more about the history of Kazakhstan? The Abai Center is home to several courses that touch on the history of Kazakhstan, ranging from ancient to modern times. 
</p>
<p>
Did you know the nomadic lifestyle of the ancient Kazakh people greatly influenced their culture? Learn about nomadic culture, and more about the lives of Kazakh people from the past and present, from the Abai Center. 
</p>
</div>

<div class="row">
{% include instruction/sevenfacetscourse.html %}
{% include instruction/beginnerkazakhlanguagecourse.html %}
{% include instruction/kazakh-intangible-heritage-course.html %}
</div>

<a name="development-paths"></a>

<h3 class="text-light mb-0 mt-3">
Orbits
</h3>
<p class="text-light mb-3 h4-subtitle">
Weekly live instruction to build programming skills throuh repetition of exercises and projects.
</p>

<div class="row">

  {% include instruction/musicology.html %}
</div>
</div>
</div>