<div class="container">
<div class="text-dark mb-1 h4-subtitle">

  <h3>Explore The Great Steppe.</h3></div>
  <img src="{{ page.image }}" width="auto" height="150px" class="float-right" />
<p>The Abai Center is excited to present a new online academy to expand access for everyone to a factual, unbiased and true representations of the Great Steppe through micro-courses that explore her myriad of histories, cultures, ancient civilizations and legacies.</p>
<p>The Great Steppe was once home to many nomadic civilizations and cultures, and these micro-courses explore influence on human development, and the lasting impact on the modern world that we live in. They look at what people ate, how they forged metals and tools, how the seemingly mundane cultural customs and traditions were actually critical to survival on the Great Steppe, their style of living and how they domesticated the horse and changed human history forever.</p>
<p>
  <a class="btn btn-secondary text-white" data-toggle="collapse" href="#academymoreinfo" role="button" aria-expanded="false" aria-controls="#academymoreinfo">Read More</a>
</p>
<div class="row">
  <div class="col">
    <div class="collapse" id="academymoreinfo">
      <div class="card card-body">
        <p>The Abai Center Academy aims to provide a wide selection of learning resources of moderate rigor for those who seek a more engaging way to experience the Great Steppe - <em>with a bit of intellectual challenge, as Abai himself would have wanted the experience to be</em>.</p>

      <ul>
        <li>Those who wish to learn more about their ancestral homeland.</li>
        <li>Teachers who seek ready-to-go, multi-day curricula and lesson plans for engaging classroom learning experiences.</li>
        <li>Those planning travel to the Great Steppe - for pleasure, business or diplomacy.</li>
        <li>Academics and researchers.</li>
      </ul>
        <!--<p>Abai was a consummate learner and musical storyteller: the ever-thinker, -student and -teacher. The Abai Center Academy aims to carry forward the torchlight for life-long learning that Abai lit with his words, strings and quill.
        </p>-->
        <p>These micro-courses provide structured curricula from the works of archaeologists, historians, subject-matter experts, diplomats, peers, many more.  Multimedia brings the ancient past alive and social media samples mix in pop culture for wider, contemporary perspectives.
        </p>
        <div
        class="row"
        >
          <div
          class="col-3"
          >
            <a
            href="mailto:a.besken@mfa.kz?subject=ACA Contributor Request&body=I'd like to Contribute to The Abai Center Academy. I'd like to provide [blank]."
            class="btn btn-primary btn-lg active mx-auto"
            role="button"
            aria-pressed="true">Contributors to the Academy are Welcomed!
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex course-row">
{% include instruction/sevenfacetscourse.html %}
{% include instruction/beginnerkazakhlanguagecourse.html %}
{% include instruction/kazakh-intangible-heritage-course.html %}
</div>
<div class="-flex course-row">
  {% include instruction/musicology.html %}
</div>
<p lead>Do you want to contribute to the Abai Center Academy as a subject matter expert with course ideas, content or instruction? Please email the Abai Center Admin contact in the Experts/Teachers section of the course that you're enrolled.</p>
  <p>The Abai Center Academy will continue to improve its course offerings.</p>
  <div
        class="row"
        >
          <div
          class="col-3"
          >
            <a
            href="mailto:a.besken@mfa.kz?subject=ACA Contributor Request&body=I'd like to Contribute to The Abai Center Academy. I'd like to provide [blank]."
            class="btn btn-primary btn-lg active mx-auto"
            role="button"
            aria-pressed="true">Contributors to the Academy are Welcomed!
            </a>
          </div>
        </div>
</div>