<div class="col-sm-12 col-md-6 col-lg-4 mb-4">
  <h4>
    Intangible Cultural Heritage of Kazakhstan
  </h4>
    <div class="card no-hover shadow-sm h-100">
      <img class="card-img-top" src="https://turbine-user-content.s3.us-east-2.amazonaws.com/user-content/DCqDvAYJvrhUDSrCnctYb/fe6b52fb-d89d-48eb-9e1b-c7fb261e4236.png" alt="Intangible Heritage of Kazakhstan" />
      <div class="card-body">
        <p class="card-text">
          UNESCO Intangible Cultural Heritage List recognizes many aspects of Kazakh culture and tradition as priceless and intangible and at risk.
        </p>
        <p>
          <b>Topics:</b>
          <br />
          <span class="text-muted mt-2">
            Kazak kuresi, yurt, aitys, kuys, 1000 kuys, Mausoleum of Khoja Ahmed Yasawi, Petroglyphs, Chang'an-Tianshan Corridor
          </span>
        </p>
  
        <p>
          <b>Schedule:</b>
          <br />
          <span class="text-muted mt-2">
            <br />
            Self-paced & Weekly Instruction.
          </span>
          <div><mark>Coming Soon</mark></div>
        </p>
   
      </div>
    </div>
  </div>