<div class="col-sm-12 col-md-6 col-lg-4 mb-4">
    <div class="card shadow-sm h-100">
      <img class="card-img" src="https://turbine-user-content.s3.us-east-2.amazonaws.com/user-content/DCqDvAYJvrhUDSrCnctYb/6f6f5948-2508-479f-86af-244678a10455.png" alt="Musicology of the Great Steppe" width="220px" height="auto"/>
      <div class="card-body">
        <h5>
          Musicology of Kazakhstan & the Great Steppe
        </h5>
        <p class="card-text">
          In the Kazakh musical art this process expressed in the formation of new approaches to the study of folklore; revival of traditions; activating the creative exchange with foreign countries; updating of academic music; formation of national specific mass culture. The result is a new vision of the role and place of Kazakh music in world culture and complication of structure of the Kazakhstani musical culture. </p>
        <p>
          <b>Topics:</b>
          <br />
          <span class="text-muted mt-2">
Dombra, Akyndar Aitysy, Kyl Kobyz
          </span>
        </p>
        <p>
          <b>Schedule:</b>
          <br />
          <span class="text-muted mt-2">
            <br />
            Self-paced & Weekly Instruction.
          </span>
          <div><mark>Coming Soon</mark></div>
        </p>
      </div>
    </div>
  </div>