---
layout: default
---

<link rel="stylesheet" href="{{ '/assets/css/events.css' | prepend: site.baseurl }}" />

<section class="jumbotron text-center events-jumbotron">
<div class="container">
<h1 class="jumbotron-heading">{{ page.title }} at the Abai Center</h1>
<p class="lead text-muted">Something short and leading about the collection below—its contents, the creator,
etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
<p>
<a href="#" class="btn btn-primary my-2">View Calendar</a>
<a href="#upcoming-events" class="btn btn-secondary my-2">Upcoming Events</a>
</p>
</div>
</section>

<div class="album py-5 bg-light">
<div class="container" id="upcoming-events">

<div class="row">
{% for item in site.data.events.contents %}
<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        {% if item.title %}
        <h3 class="card-title">{{ item.title }}</h3>
        {% else %}
        <h3 class="card-title"> Event being scheduled </h3>
        {% endif %}
        {% if item.src %}
        <img class="card-img-top"      
            data-src="{{ item.src }}"
            alt="Thumbnail [100%x225]" style="height: 245px; width: 70%; display: block; margin-left: auto; margin-right: auto;"
            src="{{ item.src }}"
            data-holder-rendered="true" />
        {% else %}
        <img class="card-img-top" data-src="https://abaicenter.nyc3.cdn.digitaloceanspaces.com/AbaiBlue.png" alt="Thumbnail [100%x225]"
            style="height: 245px; width: 70%; display: block; margin-left: auto; margin-right: auto;" src="https://abaicenter.nyc3.cdn.digitaloceanspaces.com/AbaiBlue.png" data-holder-rendered="true" />
        {% endif %}
        <div class="card-body">
            <p class="card-text">{{ item.body }}</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                </div>
                <small class="text-muted">{{ item.filters.values }}</small>
            </div>
        </div>
    </div>
</div>
{% endfor %}
</div>







        </div>
    </div>
     
