---
layout: default
---

<link rel="stylesheet" href="{{ '/assets/css/styleguide.css' | prepend: site.baseurl }}" />

<style>

#main-content {
  margin-left: auto;
  margin-right: auto;
  display: block;}
</style>

{% unless page.show_side_nav == false %}
<aside class="sidenav sticky">
  <ul class="usa-sidenav-list">
    <li>
      {% assign page_category = page.category | slugify | prepend: '/' %}
      <a href="{{ page_category | prepend: site.baseurl }}">
        <b data-info="page.category layout/topic">{{ page.category }}</b>
      </a>

      <ul class="usa-sidenav-list">
        {% include nav/list-topic.html %}
      </ul>
    </li>
  </ul>
</aside>
{% endunless %}

<main id="main-content" class="main-content mx-auto">

  <div class="styleguide-content usa-content">
    <header>
      <h1 id="{{ page.title | slugify }}">{{ page.title }}</h1>
      <p class="site-subheading">
      </p>
    </header>

      {% if page.image.url %}
      <div class="usa-font-lead">
        <img src="{{ page.image.url }}" class="postimage inline-block p-3" alt="Image" />
      </div>
      {% endif %}
  {{ content | markdownify }}

  </div>

{% if page.title contains 'Western' %}
<div class="d-flex justify-content-around styleguide-content usa-content text-center">
  <a class="media-link" href="{{ '/publications' | prepend: site.baseurl }}"
    title="Publications" aria-label="go to publications" style="color: #0071bc;">Publications</a>
  <a class="media-link" href="{{ '/' | prepend: site.baseurl }}" title="Home" aria-label="Return to homepage" style="color: #0071bc;">Return to Homepage</a>
</div>

{% elsif page.title contains "Academy" %}

<div class="d-flex justify-content-around styleguide-content usa-content text-center">
  <a class="media-link" href="{{ '/' | prepend: site.baseurl }}" title="Home" aria-label="Return to homepage" style="color: #0071bc;">Return to Homepage</a>
</div>

{% else %}
<div class="d-flex justify-content-around styleguide-content usa-content text-center">
  <a class="media-link" href="{{ '/kazakhstan-through-eyes-of-western-travelers' | prepend: site.baseurl }}"
    title="Western Eyes" aria-label="Return to Western Eyes" style="color: #0071bc;">Kazakhstan through Eyes of Western
    Travelers</a>
  <a class="media-link" href="{{ '/' | prepend: site.baseurl }}" title="Home" aria-label="Return to homepage" style="color: #0071bc;">Return to Homepage</a>
</div>
{% endif %}
 
</main>
