
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Get Your Abai Gear</h1>
      <p class="lead"></p>
    </div>

    <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">T-Shirt</h4>
          </div>
          <a href="" role="button" class="btn btn-lg btn-block btn-primary">Waitlist</a>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><small class="text-muted"></small></h1>
            <img src="assets/img/abai-tshirt.png" width="160%" alt="">
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">T-Shirt</h4>
          </div>
          <a href="" role="button" class="btn btn-lg btn-block btn-primary">Waitlist</a>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><small class="text-muted"></small></h1>
            <img src="assets/img/read-kazakh-lit-tshirt.png" class="mr-5" width="160%" alt="">
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Poster</h4>
          </div>
          <a href="" role="button" class="btn btn-lg btn-block btn-primary">Free Download</a>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><small class="text-muted"></small></h1>
             <img src="assets/img/abay-poster.png" width="75%" alt="">
          </div>
        </div>
      </div>
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Bookmark</h4>
        </div>
          <a href="assets/img/abay-bookmark-download.pdf" target="_blank" role="button" class="btn btn-lg btn-block btn-primary">Free Download</a>
        <div class="card-body">
          <h1 class="card-title pricing-card-title"><small class="text-muted"></small></h1>
          <img src="assets/img/abay-bookmark.png" width="200px" alt="">
        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Poster</h4>
        </div>
        <a href="" role="button" class="btn btn-lg btn-block btn-primary">Waitlist</a>
        <img src="assets/img/Charyn-Canyon-Poster.png" width="100%" alt="">
        <div class="card-body">
          <h1 class="card-title pricing-card-title"><small class="text-muted"></small></h1>

        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Bookmark</h4>
        </div>
          <a href="assets/img/abay-bookmark-download.pdf" target="_blank" role="button" class="btn btn-lg btn-block btn-primary">Free Download</a>
        <div class="card-body">
          <h1 class="card-title pricing-card-title"><small class="text-muted"></small></h1>

        </div>
      </div>
    </div>
  </div>
